@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Layer Styles */
@layer base {
    html,
    body,
    body > div:first-child,
    div#__next,
    div#__next > div {
        @apply h-full bg-ctp-base text-ctp-text; /* Use Catppuccin colors with prefix */
    }
}

/* Global Styles */
html,
body {
    padding: 0;
    margin: 0;
    font-family:
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Fira Sans",
            "Droid Sans",
            "Helvetica Neue",
            sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

/* Universal Box Sizing */
* {
    box-sizing: border-box;
}

/* Sidebar Styles */
.sidebar {
    @apply bg-ctp-mantle text-ctp-text shadow-lg p-4 h-full w-64; /* Apply Tailwind utilities */
}

/* Main Content Styles */
.main-content {
    @apply flex-1 p-4; /* Add padding to the main content */
}

/* Global Link Styles */
a {
    color: theme('textColor.ctp-mauve.DEFAULT'); /* Use Catppuccin text color */
}

a:hover {
    text-decoration: underline;
}

/* Image Styles */
img {
    max-width: 100%;
    display: block;
}
